/*==============================
=            FOOTER            =
===============================*/

@import "colors";
.site-footer {
	background: #24386a;
	color: #dddddd;
	border: 0;
	padding: 0.5em;
	p {
		margin: 15px 0px;
		line-height: 25px;
		color: #a8a8a8;
	}
	i {
		margin: 10px 15px 0px 15px;
		&.fa-phone {
			margin: 0;
			transform: rotate(95deg);
			font-size: 12px;
			margin-right: 10px;
		}
	}
	a {
		color: #fff;
		&:hover,
		&:active,
		&:focus {
			color: #b1b3b6;
		}
	}
	.sub-menu {
		display: none !important;
	}
}

.widget-area.widget-footer {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e8e8e8+0,b1b3b6+46,b1b3b6+100 */
	// background: rgb(232, 232, 232);
	// /* Old browsers */
	// background: -moz-linear-gradient(-45deg, rgba(232, 232, 232, 1) 0%, rgba(177, 179, 182, 1) 46%, rgba(177, 179, 182, 1) 100%);
	// /* FF3.6-15 */
	// background: -webkit-linear-gradient(-45deg, rgba(232, 232, 232, 1) 0%, rgba(177, 179, 182, 1) 46%, rgba(177, 179, 182, 1) 100%);
	// /* Chrome10-25,Safari5.1-6 */
	// background: linear-gradient(135deg, rgba(232, 232, 232, 1) 0%, rgba(177, 179, 182, 1) 46%, rgba(177, 179, 182, 1) 100%);
	// /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#b1b3b6', GradientType=1);
	// /* IE6-9 fallback on horizontal gradient */
	background-color: #e3e3e3;
	background-image: url("https://www.transparenttextures.com/patterns/paper-2.png");
	/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
	* {
		border: none !important;
		@media (max-width: 895px) {
			text-align: center;
			.sub-menu {
				padding-left: 0;
			}
		}
	}
	.sub-menu {
		display: none !important;
	}
}
