/*=======================================
=            PAGE - OFFERINGS           =
========================================*/

@import "colors";
#post-247,
#post-230,
#post-265,
#post-234,
#post-267,
#post-236 {
    padding-top: 4em;
    .hentry-wrapper {
        max-width: 1000px;
    }
    h4 {
        margin-top: 60px;
    }
    h5 {
        color: $primary;
    }
    .left {
        float: left;
        width: 30%;
        padding-right: 40px;
        position: relative;
        ul {
            list-style-type: none;
            margin: 0;
            font-size: 1.1em;
            li {
                color: #a7a7a7;
                margin-bottom: 1em;
                cursor: pointer;
                font-weight: bold;
                &:hover {
                    opacity: 1;
                    color: $primaryLight !important;
                }
                &.active {
                    color: $primary;
                    ul {
                        li {
                            font-weight: 400;
                            font-size: 0.7em;
                            color: $primary;
                        }
                    }
                }
                i {
                    padding-right: 10px;
                    width: 1.9em;
                    text-align: center;
                }
            }
            ul {
                margin: 5px 10px 30px 15px;
                li {
                    font-weight: 400;
                    font-size: 0.7em;
                }
            }
        }
    }
    .right {
        float: left;
        width: 70%;
        ol {
            li {
                margin-bottom: 10px;
            }
        }
    }
    @media (max-width: 800px) {
        .left {
            width: 100%;
            display: none;
        }
        .right {
            width: 100%;
        }
    }
    .offering-wrap {
        display: none;
        &.active {
            display: block;
        }
        @media (max-width: 800px) {
            display: block;
            margin-bottom: 60px;
        }
    }
    .item-wrap {
        h4 {
            font-weight: 300;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &>span:nth-child(1) {
                span {
                    color: $secondary;
                }
            }
            &>span:nth-child(2) {
                font-size: 0.7em;
                float: right;
                font-weight: bold;
                color: $primary;
            }
        }
        p:not(:first-of-type),
        ul li {
            font-size: 0.9em;
        }
        padding-left: 1em;
        border-left: 1px solid $primary;
        margin-top: 3em;
        .date-title {
            margin: 0;
            font-weight: bold;
            color: #212121;
        }
    }
}